/* Reset de márgenes y padding */
* {
	margin: 0;
	padding: 0;
}
  
:root {
	--azulPrincipal: blue;
	--navbar-height: 120px;
	--navbar-min-height: 60px;
	--logo-height: 110px;
	--logo-min-height: 60px;
	--nombre-font-size: 2.5rem;
	--nombre-min-font-size: 1.5rem;
}
  
body {
	padding-top: var(--navbar-height); /* Deja espacio para el navbar fijo */
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////LOGO///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

.LogoNombre {
	font-family: "Nunito Sans", sans-serif;
	display: flex;
	align-items: center;
	gap: 1rem;
	height: var(--logo-height);
	transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
}
.logo {
	height: var(--logo-height);
	transition: height 0.3s ease ;
	animation:pulso 0.5s ease ;
}
.Nombres {
	display: flex;
	flex-direction: column;
}
.Nombre {
	margin: 0;
	line-height: 1;
	display: inline-block;
	color: var(--azulPrincipal);
	font-size: var(--nombre-font-size);
	transition: font-size 0.3s ease;
}
.acierto { 
	letter-spacing: 4px;
}
.laboral {
	letter-spacing: 1px;
}
@keyframes pulso {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	80% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////BARRA NAVEGACION///////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

#navBar {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 0;
	z-index: 1000;
	transition: height 0.1s ease, box-shadow 0.1s ease;
}
.collapse {
	 
}
.nav-link {
	color: var(--azulPrincipal);
}
#navBar.scrolled .LogoNombre {
	height: var(--logo-min-height);
}
#navBar.scrolled {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#navBar.scrolled .logo {
	height: var(--logo-min-height);
}
#navBar.scrolled .Nombre {
	font-size: var(--nombre-min-font-size);
	letter-spacing: 0px;
}
#navBar.scrolled .acierto { 
	letter-spacing: 3px;
}
#navBar.scrolled .laboral {
	letter-spacing: 1px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////CARRUSEL///////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

.carro1 {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../imgs/abogada1.png);
}
.carro2 {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../imgs/abogado2.jpg);
	
}
.carro3 {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../imgs/abogado3.jpeg);
	
}
.carousel-item {
	height: 30rem;
	background-repeat: no-repeat;
  	background-position: center;
  	background-size:cover;
}
.carroText {
	color: white;
	height: 15rem;
	width: 20rem;
	margin-top: 5rem;
	margin-left: 5rem;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////DIFERENCIAS//////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
.container {
	margin-bottom: 3rem;
	background-color: blanchedalmond;
}
.titulo {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 300px;
	align-self: center;
}
.difeContent {
	width: 300px;
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    transition: all 1s ease;
}
.contorno {
	border-radius: 100%;
    border: #5a6ec5ad 10px;
    border-style: double;
    color: wheat;
}
.iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: var(--azulPrincipal);
    border-radius: 100%;
    transition: transform 0.3s ease;
}
.iconos:hover {
    transform: scale(1.2);
}
.difeTexto {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
h4 {
	text-align: center;
	margin-bottom: 2rem;
}
.textoDif {
	background-color: white;
	padding: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////////SOLUCIONES///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
.solucion {
	background-color: red;
	width: 160px;
	margin-bottom: 1rem;
}
.image {
	width: 10rem;
	cursor: pointer;
	padding: 5px;
}
.img1, .img2 {
    transition: filter 0.5s ease-out;
    filter: grayscale(1);
}
.img1:hover,
.img1:active {
    filter: grayscale(0);
}
.img2:hover,
.img2:active {
    filter: grayscale(0);
}
.Separacion {
	display: flex;
	gap: 1rem;
}
.left-pane {
	width: 50%;
	padding: 20px;
}
.right-pane {
	width: 50%;
	display: flex;
	justify-content: space-around;
}





/*/////////////////////////////////////////////////////////////////////////*/
/*////////////////////////NOSOTROS/////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
.nosotros {
	display: flex;

}